@import 'fonts.styl'
@import 'icomoon.styl'

#login_contenedor
    margin 2em auto
    padding 0
    width 800px
    text-align: center

    .izquierda, .login
        display: inline-block
        vertical-align: middle

    .izquierda
        margin 0
        padding 3em 0 6em 0
        border 1px solid rgba(0,0,0,0.1)
        border-radius: 1.5em
        position relative
        width 250px
        text-align center
        background white
        -webkit-box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.59);
        -moz-box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.59);
        box-shadow: 5px 5px 17px -6px rgba(0,0,0,0.59);

        figure
            margin 0 auto
            padding 0
            width 175px

            img 
                margin 0
                padding 0
                width 100%
        
        p
            font-family: 'sansationbold'
            font-size: 25px
            margin 0
            padding 0
            color #64842B

        .barra
            height 40px
            background #A7BF30
            position: absolute
            bottom 0
            left 0
            right 0
            border-bottom-right-radius: 1.5em
            border-bottom-left-radius: 1.5em
    
    .login
        margin 0 0 0 -0.2em
        padding 2em 1em
        background #E1E4E7
        border 1px solid rgba(0,0,0,0.05)
        border-top-right-radius: 1.5em
        border-bottom-right-radius: 1.5em
        width 375px
        text-align: left
        -webkit-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.3);
        -moz-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.3);
        box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.3);

        p  
            color #A7BF30
            font-family: 'sansationbold'
            margin 0
            padding 0            

            span  
                font-size 20px
        
        .linea
            width 37%
            height 3px
            background #A7BF30
            margin 0
            padding 0

        .larga
            width 100%
            height 2px
            background #d5d5d5
            margin 0 0 1.5em 0
            padding 0

        .campo_texto
            margin 0.5em 0
            padding 0.5em 0.7em
            background white
            border 1px solid rgba(0,0,0,0)
            border-radius: 1.5em
            width 100%

        .area
            margin 0
            padding 2em 0 0.5em 0
            text-align: center

            .button_inicio
                margin: 0
                padding 0.7em 1em
                background: #A7BF30
                color white
                font-family: 'sansationbold'
                font-size: 15px
                border-radius: 1em    
                text-decoration: none
                transition-all 0.6s linear
                border 1px solid #A7BF30
            
            .button_inicio:hover
                border 1px solid white

#banderas
    margin 0
    padding 0
    position fixed
    bottom 0
    left 0
    right 0

    figure
        margin 0
        padding 0
        width 100%

        img     
            margin 0
            padding 0
            width 100%
    
    p 
        position absolute
        margin 0
        padding 0
        font-family 'canela'
        font-size 95px
        color white
        top 70px
        left 100px